

#video{
  transform: rotateY(180deg);
  position: absolute;
  left: 32.5%;
  top:5%;
  z-index: 10;
  background-color: black;
  border: 8px solid black;
  border-radius: 5px;
}


h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 100%;
   text-shadow: 2px 2px 8px #495057;
}

h1 .subtext {
  font-family: "Helvetica Neue", "sans-serif";
  font-size:20px;
  color: #e9ecef;
  font-weight: normal;
  line-height: 16px;
}

.intro-steps {
  font-size: 40px;
}

#add-word{
  border: 1px dotted #495057;
  padding: 9px;
  width: 80%;
  font-size: 20px;
}

.split-left {
  text-align: center;
  height: 100%;
  left:0;
  width: 39.75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-y: scroll;
  padding-top: 0px;
  padding-bottom: 20px;
  border-right: 5px solid black;
background-image: url('https://serfob.s3.amazonaws.com/media/flat-blue-background-with-geometric-shapes4d9-6a6a-48c9-a088-26763b305390.png');
background-size:  cover;
}

.split-left h1{
  color: white;
}


.split-right {
  height: 100%;
  width: 59.75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right:0;
  padding-bottom: 20px;

    background: url('https://image.freepik.com/free-vector/blue-abstract-acrylic-brush-stroke-textured-background_53876-86373.jpg') no-repeat ;
    background-size: cover;

}


#submit-btn{
  outline:none;
  height: 35px;
  text-align: center;
  width: 120px;
  border-radius:40px;
  background: #F2F0F0;
  border: 2px solid #a53125;
  color:#a53125;
}

#submit-btn:hover{
  background:  #a53125;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:75%;
}

#info {
  margin-bottom: 30px;
}

